@model IEnumerable<webbanhangtieuluan.Models.tintuc>

@{
    ViewBag.Title = "Danh sách tin tức";
    Layout = "~/Areas/admin/Views/Shared/layout2.cshtml";
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#search').on('input', function () {
                var value = $(this).val().toLowerCase();
                $('tbody tr').filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}

<h2>Danh sách tin tức</h2>
@section naviheader {
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/Home" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/SanPham" class="nav-link">@ViewBag.Title</a>
        </li>
    </ul>
}
<div class="row mb-3">
    <div class="col-md-4">
        <input type="text" class="form-control" id="search" placeholder="Tìm kiếm...">
    </div>
    <div class="col-md-8 text-right">
        @Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn btn-primary" })
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Tiêu đề tin</th>
                <th scope="col">Nội dung</th>
                <th scope="col">Ngày đăng</th>
                <th scope="col">Ảnh minh họa</th>
                <th scope="col">Mã loại tin</th>
                <th scope="col">Chức năng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.TieuDeTin)</td>
                    <td>@Html.DisplayFor(modelItem => item.NoiDung)</td>
                    <td>@Html.DisplayFor(modelItem => item.NgayDang)</td>
                    <td>
                        <img src="@item.AnhMH" alt="Ảnh minh họa" class="img-thumbnail" style="max-width: 100px; max-height: 100px;" />
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.MLTin)</td>
                    <td>
                        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.Matin }, new { @class = "btn btn-primary btn-sm" })
                        @Html.ActionLink("Chi tiết", "Details", new { id = item.Matin }, new { @class = "btn btn-info btn-sm" })
                        @Html.ActionLink("Xóa", "Delete", new { id = item.Matin }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
