@model webbanhangtieuluan.Models.taikhoanadmin
@using webbanhangtieuluan.Models
@{
    ViewBag.Title = "Phân quyền";
    Layout = "~/Areas/admin/Views/Shared/layout2.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản Lý @ViewBag.Title</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Admin/Home">Home</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid">
    <section class="content-header">
        <div class="row mb-2">
            <div class="col-md-12">
                <h2>Phân quyền</h2>
            </div>
        </div>
    </section>
</div>

<div class="row mb-2">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Họ tên</th>
                    <td>@Model.HoTen</td>
                </tr>
                <tr>
                    <th>Ngày sinh</th>
                    <td>@Model.NgaySinh</td>
                </tr>
                <tr>
                    <th>Giới tính</th>
                    <td>@Model.GioiTinh</td>
                </tr>
                <tr>
                    <th>Điện thoại</th>
                    <td>@Model.DienThoai</td>
                </tr>
                <tr>
                    <th>Tài khoản web</th>
                    <td>@Model.TaiKhoanweb</td>
                </tr>
                <tr>
                    <th>Mật khẩu</th>
                    <td>@Model.MatKhau</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <th>Địa chỉ</th>
                    <td>@Model.DiaChi</td>
                    </tr>
<tr>
                   
                    <p>
                        @Html.ActionLink("Edit", "edittaikhoan", new { @ms = Model.MaTK })  |
                        @Html.ActionLink("Back to List", "Index")
                    </p>
                </tr>
            </thead>
        </table>
    </div>
</div>






